/* Reset af browserens standardindstillinger */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generel typografi på hele hjemmesiden */

body {
    font-family: Arial, sans-serif;
}