/* Reset af browserens standardindstillinger */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generel typografi på hele hjemmesiden */

body {
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    padding: 25px 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling af navigationslinks */

.nav-links a {
    margin-left: 35px;
}


/* Luft omkring indholdet i hero-sektionen */
#hero {
    padding: 100px 60px;
}


/* Hero-sektionens højde */
#hero {
    padding: 100px 60px;
    min-height: 900px;

/* Baggrundsbillede i hero-sektionen */
    background-image: url("../img/hero-image.jpg");
/* Baggrundsbilledet fylder hele hero-sektionen */
    background-size: cover;

 display: flex;
flex-direction: column;
justify-content: flex-start;
}



