/* Reset af browserens standardindstillinger */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generel typografi på hele hjemmesiden */

body {
    font-family: Arial, sans-serif;
}


 /* Placerer navigationen oven på hero-billedet */

header {
    width: 100%;
    padding: 25px 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling af navigationslinks */

.nav-links a {
    margin-left: 35px;
}

/* Hero-sektion med afstand, højde og baggrundsbillede */

#hero {
    padding: 180px 80px;
    min-height: 900px;

    /* Baggrundsbillede */
    background-image: url("../img/hero-image.jpg");

    /* Baggrundsbilledet fylder hele sektionen */
    background-size: cover;

    /* Placering af indhold */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Størrelse på hero-overskriften */
#hero h2 {
    font-size: 64px;
    margin: 0;
    line-height: 1.2;
    color: white;
}

/* Størrelse på hero-tekst */
#hero p {
    font-size: 20px;
    color: white;
    margin-top: 5px;
}

/* Introduktionstekst over hero-overskriften */
.intro-tekst {
    letter-spacing: 5px;
     font-size: 16px;
     margin-bottom: 20px;
}


/* Produktsektion */

#product {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 100px 80px;
}

#product img {
    width: 500px;
}

.product-info {
    width: 420px;
}

/* Overskrift i produktsektionen */

.product-info h2 {
    font-size: 48px;
    margin-bottom: 20px;
}